body{ font-size: 14px;}
@media (min-width: 1200px) {
    .container { width: 1170px; }
  }
.search{ background-color: #ECECEC;}

.form-select, .form-control, .btn {  border-radius:0px; }

.singup_login_box{ background-color: #000; color:  } 
.postadd_btn{     background-color: #c11768;
    background-image: linear-gradient(to right,#c11768,#ff007a);
    cursor: pointer;
    color: #fff!important;
    font-weight: 700;
    letter-spacing: 1px; 
padding:10px 30px ;}
.categories a{ text-decoration:none ; }
.categories h5.card-title{ background-color: #c11768; color: #fff; margin: 0; padding: 8px  0; text-transform: uppercase;}

.card { border-radius: 0rem; }
.footer-section{ border-top:1px solid #eeeeee;  }
.footer-section a{ color: #000; text-decoration: none;}
#scrollToTop{ position: fixed; right: 10px; bottom: 10px;}
 
.breadcrumb a{ text-decoration: none; color: #c11768; font-size: 14px;}
.backto a{ text-decoration: none; color: #c11768; font-weight: bold ;  font-size: 14px;}

/********** listing page *************/
.ads_list{}
.ads_list .card { border: 1px solid #c11768; }
.ads_list .card h3{ font-size: 20px;   }
.ads_list .card h3 a{  color:#c11768; text-decoration: none; }